<div id="<%= dom_id comment %>">
  <p>
    <strong>Contenido:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= comment.post_id %>
  </p>

</div>
